@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap");
@import "./weather.css";
@import "./forecast.css";
@import "./modals.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Dosis, Tahoma, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: safe center;
  justify-content: safe center;
  gap: 10px;
  padding: 10px 5px;
  overflow-y: auto;
  position: static;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.5);
}

h1 {
  text-align: center;
  height: fit-content;
}

/*************** CITY CHOICE ***************/
.cityChoice {
  width: 100%;
  height: 5%;
  background-color: transparent;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 5px 10px;
  font-size: 1.1rem;
}

.cities {
  padding: 3px 10px;
  text-align: center;
  border-radius: 20px;
  border: none;
  font-size: 1.1rem;
  background-color: transparent;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
/*************** END CITY CHOICE ***************/

/*************** FOOTER ***************/
footer {
  height: 5%;
  text-align: center;
  position: fixed;
  bottom: 0;
  padding: 5px;
  cursor: pointer;
  text-decoration: underline;
}
/*************** END FOOTER ***************/

/*************** MEDIA QUERIES ***************/
/* SMALL PHONES */
@media screen and (max-width: 390px) {
  * {
    font-size: 1rem;
  }

  .page {
    gap: 20px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .cityChoice {
    height: 5%;
    flex-wrap: nowrap;
  }

  .cities {
    width: 50%;
    font-size: 1rem;
  }

  footer {
    position: relative;
  }
}

/* TABLET */
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .page {
    gap: 20px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
  .page {
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  h1,
  .cityChoice,
  footer {
    width: 100%;
  }

  .cityChoice {
    padding: 20px 15px;
  }

  footer {
    text-align: right;
    padding-right: 15px;
  }
}
